# Node / Frontend
node_modules/
dist/
build/
.env
.env.local
.env.*.local

# Python / Traitement
__pycache__/
*.pyc
*.pyo
venv/
env/
.venv/

# Données SIG lourdes
*.tif
*.tiff
*.ecw
*.img

# OS
.DS_Store
Thumbs.db
